# AI & APIs
VITE_NVIDIA_API_KEY=
VITE_GOOGLE_MAPS_API_KEY=

# Auth0 Configuration
VITE_AUTH0_DOMAIN=
VITE_AUTH0_CLIENT_ID=
VITE_AUTH0_REDIRECT_URI=http://localhost:5173/create-trip

# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_AUTH_DOMAIN=
VITE_PROJECT_ID=
VITE_STORAGE_BUCKET=
VITE_MESSAGING_SENDER_ID=
VITE_APP_ID=
VITE_MEASUREMENT_ID=

# Optional
VITE_FOURSQUARE_API_KEY=
VITE_GROK_API_KEY=
